[Unit]
After=network.target
Description=Valyve_Bot

[Service]
Type=simple
WorkingDirectory=/root/TarjimonEBot/
ExecStart=/usr/bin/python3 main.py
Restart=always

[Install]
WantedBy=multi-user.target